 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>As a former high school athlete with limited resources, I know how hard it is to fully develop the athletic potential of these athletes. My mission is to provide high schools with professional sports performance resources at an affordable cost so that coaches are able to help their athletes reach their full athletic potential along with staying healthy during competition.</p>
                </div>
                <div class="col-lg-4">
                    <p>My experience swith youth training programs, high school strength and conditioning, and Division 1 sports performance has prepared me to help design training programs that will help athletes move better and perform at higher levels during competition.</p>
                </div>
            </div>
        </div>
    </section>