<!-- Contact Section -->
<section id="testimonials" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Testimonials</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">

            <div class="bs-example" data-example-id="simple-carousel">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <blockquote>
                                <p>"Tucker's passion for athletic performance, organization of workouts, and attention to detail helped our girls basketball team get the best summer results I've seen in my five years of coaching."</p>
                                <footer>Manson Northwest-Webster HS, Bret Larson, Girl’s basketball coach</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
